* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.const-cont {
    width: 100%;
    height: 100%;
    background-image: url(./12067358_4882066.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #ffffffa8;
}

.sub-container {
    margin: 5%;
    display: flex;
    flex-direction: column;
    width: 30%;
}